<div id="top_nav">

	<%- include('header#complement_auth') %>
	
	<div id="auth">
		<div>Customer </div>
		<a id="logout" class="button_box" href="<%- address.path.logout %>">
			Logout
		</a>
		<a id="upload" class="button_box" href="<%- address.path.upload_youtube %>">
			Upload
		</a>
		<a id="status" class="button_box" href="<%- address.path.status %>">
			Status
		</a>
		<a id="withdrawal" class="button_box" href="<%- address.path.withdrawal %>">
			withdrawal
		</a>
	</div>
</div>