<div id="top_nav">
	<div id="menubar">
		<img src="<%- address.img.menubar %>">
	</div>
	<div id="banner">
		<a href="<%- address.path.home %>"><img src="<%- address.img.sajiyo %>"></a>
	</div>
	<div id="searchbar">
		<form action="search" method="get">
			<input id="searchbar" type="text" name="q">
			<img id="search" src="<%- address.img.search %>">
			<input class="hidden" type="submit">
		</form>
	</div>
	<div id="auth">
		<div>
			<a href="<%- address.path.login_local %>">login</a>
		</div>
		<div>
			<a href="<%- address.path.register %>">register</a>
		</div>
	</div>
</div>