
<br>
<div id="streaming">
	<div id="streaming-iframe">
		<iframe width="534" height="300" src="https://www.youtube.com/embed/<%- obj[0]['videoId'] %>?showinfo=0&autoplay=1" frameborder="0" allowfullscreen="1"></iframe>
	</div>
</div>
<div id="sumnail_bundle">
<% for (var i=1; i<obj.length; i++) { %>
	<div class="row">
		<a href="<%- address.path.post + obj[i]['no'] %>">
			<div class="column">
				<img src="<%- obj[i]['thumbnails_medium_url'] %>">
			</div>
			<div class="column">
				<% if (obj[i]['title_pineapple']) { %>
					<%- obj[i]['title_pineapple'] %>
				<% } else { %>
					<%- obj[i]['title_youtube'] %>
				<% } %>
			</div>
		</a>
	</div>
<% }; %>
</div>